<%= form_with model: @item do |form| %>
    <h1><%= title %> Inventory Item</h1>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
    <%= yield form %>
    <p>
        <%= form.submit 'Submit' %>
    </p>
<% end %>
