<%= render 'edit_form', title: 'Edit' do |form| %>
    <h2>Location Stock</h2>
    <% @item.all_stocks.includes(:location).each do |stock| %>
        <%= form.fields_for :item_stocks, stock do |fields| %>
            <%= fields.label :quantity, stock.location.name %>
            <%= fields.number_field :quantity, min: 0 %>
            <%= fields.number_field :location_id, hidden: true %>
        <% end %>
        <br/>
    <% end %>
<% end %>

<%
=begin%>
  Useful: https://api.rubyonrails.org/v7.0/classes/ActionView/Helpers/FormHelper.html#method-i-fields_for
<%
=end%>
