<h1>Inventory Items</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Total Stock</th>
            <th>Locations</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @items.each do |item| %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.name %></td>
                <td><%= item.total_quantity %></td>
                <td><%= item.num_locations_available %></td>
                <td><%= link_to 'Edit', edit_inventory_item_path(item.id), method: :get %></td>
                <td><%= link_to 'Delete', item, method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table>