<%= form_with model: @location do |form| %>
    <h1><%= title %> Location</h1>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
    <p>
        <%= form.submit 'Submit' %>
    </p>
<% end %>