<h1>Locations</h1>

<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Number of items</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <% @locations.each do |location| %>
            <tr>
                <td><%= location.id %></td>
                <td><%= location.name %></td>
                <td><%= location.num_unique_items %></td>
                <td><%= link_to 'Edit', edit_location_path(location.id) %>
                <td><%= link_to 'Delete', location, method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table>