<!DOCTYPE html>
<html>
  <head>
    <title>Kyle Anderson - Shopify Challenge Summer 2022</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <br/>

  <footer>
    <%= render '/nav_links' %>
  </footer>
</html>
